<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.com.capnuoctanhoa.thutienandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Service.ServiceFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.ServiceFirebaseInstanceID">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Service.ServiceAppKilled"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <!--camera-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="thutien_file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path_files" />
        </provider>

        <activity
            android:name=".ActivityDangNhap"
            android:label="@string/title_activity_dang_nhap" />
        <activity
            android:name=".HanhThu.ActivityDanhSachHanhThu"
            android:label="@string/title_activity_danh_sach_hanh_thu"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- to identify this activity as "searchable" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".DongNuoc.ActivityDanhSachDongNuoc"
            android:label="@string/title_activity_danh_sach_dong_nuoc"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- to identify this activity as "searchable" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".DongNuoc.ActivityDongNuoc"
            android:label="@string/title_activity_dong_nuoc"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".DongNuoc.ActivityDongNuoc2"
            android:label="@string/title_activity_dong_nuoc2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".DongNuoc.ActivityMoNuoc"
            android:label="@string/title_activity_mo_nuoc"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".DongNuoc.ActivityDongTien"
            android:label="@string/title_activity_dong_tien"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ActivitySearchKhachHang"
            android:label="@string/title_activity_search_khach_hang"
            android:theme="@style/AppTheme.PopupTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ActivitySearchKhachHangWeb"
            android:label="@string/title_activity_search_khach_hang" />
        <activity
            android:name=".QuanLy.ActivityQuanLy"
            android:label="@string/title_activity_quan_ly"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HanhThu.ActivityDownDataHanhThu"
            android:label="@string/title_activity_down_data_hanh_thu"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".DongNuoc.ActivityDownDataDongNuoc"
            android:label="@string/title_activity_down_data_dong_nuoc"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".LenhHuy.ActivityLenhHuy"></activity>
    </application>

</manifest>